@import url(circles.css);

.profile-wrapper,
.profile-wrapper *,
.profile-wrapper *:before,
.profile-wrapper *:after {
  box-sizing: border-box;
}
.profile-wrapper {
  padding: 30px 0 85px;
}
.profile-wrapper .profile-container {
  position: relative;
  padding: 250px 0 0;
  width: 93.75%;
}
.profile-wrapper .profile-container-courses {
  padding: 79px 0 0;
  position: relative;
  width: 93.75%;
}
.profile-navigation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  font-family: "FontsFree", sans-serif;
}
.profile-navigation ul {
  display: -ms-flexbox;
  display: flex;
}
.profile-navigation li {
  width: 50%;
}
.profile-navigation li a {
  border: 1px solid #e1d9d6;
  padding: 0 0 0 24px;
  height: 49px;
  color: #232120;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.11;
  position: relative;
}
.profile-navigation li.active a {
  background: linear-gradient(270.01deg, rgba(155, 132, 122, 0.27) 18.2%, rgba(155, 132, 122, 0) 114.6%);
  border: none;
  padding: 0 0 0 25px;
  pointer-events: none;
}
.profile-navigation li.active a:after {
  content: "";
  background: url(../img/profile_chevron-red.svg) 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  right: 9px;
  top: 50%;
  width: 5px;
  height: 9px;
  transform: translateY(-50%);
}
.profile-navigation li:first-child a:before {
  content: "";
  margin: 0 21px 0 0;
  width: 13px;
  height: 13px;
  background: url(../img/profile_ico_person.svg) 0 -13px no-repeat;
}
.profile-navigation li:first-child.active a:before {
  background-position: 0 0;
}
.profile-navigation li:last-child a:before {
  content: "";
  margin: 0 16px 0 0;
  width: 17px;
  height: 17px;
  background: url(../img/profile_ico_courses.svg) 0 -17px no-repeat;
}
.profile-navigation li:last-child.active a:before {
  background-position: 0 0;
}
.profile-abonement {
  position: absolute;
  top: 79px;
  left: 0;
  right: 0;
  background: #edebea;
  border-radius: 4px;
  padding: 12px 10px 11px;
  text-align: center;
}
.profile-abonement h3 {
  font-family: "Work-Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #cb5050;
  margin: 0 0 2px;
}
.profile-abonement p {
  font-size: 14px;
  line-height: 1.5;
  color: #686563;
  margin: 0 0 9px;
}
.profile-abonement .double-btn {
  background: none !important;
  display: block;
  margin: auto;
  font-size: 12px;
  line-height: 14px;
  padding: 1.25em 30px;
}

.profile-column {
  background: #fff;
  padding: 15px 6px 26px 7px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  margin: 0 0 35px;
}
.profile-image-wrap {
  margin: 0 0 16px;
}
.profile-image-wrap p {
  margin: 16px 0 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #6e3923;
}
.profile-image-main {
  background: rgba(155, 132, 122, 0.4) url(../img/profile_01.png) 50% bottom no-repeat;
  height: 196px;
}
.profile-pregnancy-term {
  background: #cb5050;
  margin: 0 0 19px;
  padding: 11px 24px 13px;
  position: relative;
}
.profile-pregnancy-term h3 {
  font-size: 16px;
  line-height: 1.5;
  color: #fbf9f8;
  font-family: "FontsFree", sans-serif;
  text-align: left;
}
.profile-pregnancy-term p {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 14px 0 0;
}
.profile-pregnancy-over {
  /* position: absolute;
  left: 0;
  right: 0;
  top: -4px; */
  background: #d3887e;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 0 24px;
}
.profile-pregnancy-over-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 134px;
  padding: 8px 15px;
  text-align: center;
}
.profile-pregnancy-over p {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  margin: 0;
}
.profile-pregnancy-over-buttons {
  border-top: 1px solid #fff;
  display: -ms-flexbox;
  display: flex;
}
.profile-pregnancy-over-buttons a {
  width: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 0 13px;
  color: #fff;
  text-decoration: none;
}
.profile-pregnancy-over-buttons a:last-child {
  border-left: 1px solid #fff;
}
.profile-pregnancy-buttons {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  padding: 14px 0 22px;
}
.profile-pregnancy-buttons .double-btn {
  width: calc(50% - 10px);
  margin: 0 5px;
  border-color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 11px 0 10px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: -0.05px;
}
.profile-pregnancy-buttons .double-btn:last-child {
  background-color: transparent;
  color: #fff;
}

.profile-children p {
  font-family: "FontsFree", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #232120;
  margin: 0 0 4.5px;
}
.profile-children ul {
  font-size: 14px;
  line-height: 15px;
  color: #cb5050;
}
.profile-children {
  margin: 0 0 2px;
}
.profile-completion {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.profile-completion p {
  font-size: 14px;
  line-height: 1.52;
  color: #000;
  font-family: "FontsFree", sans-serif;
}
.profile-completion .percentage {
  margin: 0 23px 0 30px;
}
.c100 {
  background-color: #ededed;
  margin: 0;
}
.c100.small {
  font-size: 75px;
}
.c100 *,
.c100 ::before,
.c100 ::after {
  box-sizing: content-box !important;
}
.c100:after,
.c100:hover:after {
  background-color: #fff;
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  border-radius: 50%;
  width: 0.84em;
  height: 0.84em;
}
.c100 > span,
.c100:hover > span {
  font-family: "FontsFree", sans-serif;
  font-size: 25px;
  color: #232120;
  width: 100%;
  height: 100%;
  line-height: 3em;
}
.c100 .bar {
  border: 0.08em solid #cb5050;
  border-color: #cb5050 !important;
}
.c100 .fill {
  position: absolute;
  border: 0.08em solid #cb5050;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  border-color: #cb5050 !important;
}

.profile-form-wrap {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  padding: 14px 6px 44px;
  margin: 0 0 35px;
}
.profile-form-wrap h3 {
  font-family: "FontsFree", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #686563;
  margin: 0;
  text-align: left;
}
.profile-form-wrap h3 + label {
  margin-top: 10px;
}
.profile-form-wrap .field {
  margin: 12.5px 0 0;
}
.profile-form-wrap label {
  display: block;
  margin: 0 0 5px;
  font-size: 15px;
  line-height: 1.5;
  color: rgba(104, 101, 99, 0.39);
}
.profile-form-wrap label.small {
  font-size: 14px;
}
.profile-form-wrap .field input[type="text"],
.profile-form-wrap .field input[type="tel"],
.profile-form-wrap .field input[type="email"],
.profile-form-wrap .field input[type="password"] {
  width: 100%;
  height: 36px;
  background: #ffffff;
  border: 1px solid #dcd9d7;
  border-radius: 2px;
  padding: 7px 18px;
  color: #686563;
  font-size: 13px;
  line-height: 20px;
}
.profile-form-wrap .field input[type="text"]:disabled,
.profile-form-wrap .field input[type="tel"]:disabled,
.profile-form-wrap .field input[type="email"]:disabled,
.profile-form-wrap .field input[type="password"]:disabled {
  background: rgba(220, 217, 215, 0.52);
  border: 1px solid rgba(220, 217, 215, 0.52);
}
.profile-form-wrap .field input[type="checkbox"] {
  display: none;
}
.profile-form-wrap .field input[type="checkbox"] + label {
  color: #9b847a;
  padding: 0 0 0 30px;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 37px;
  position: relative;
}
.profile-form-wrap .field input[type="checkbox"] + label:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 0.5px solid #9b847a;
  border-radius: 1px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}
.profile-form-wrap .field input[type="checkbox"]:checked + label:before {
  content: "v";
}
.profile-form-contact {
  padding: 18px 0 0;
}
.profile-form-contact .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 -2.5px;
}
.profile-form-contact .row .field {
  width: 100%;
  padding: 0 2.5px;
}
.profile-form-contact .row .field:last-child {
  width: 83px;
  flex-shrink: 0;
}
.profile-form-contact .row .field .double-btn {
  border-radius: 1px;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0;
  height: 36px;
}
.profile-date {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 7px;
}
.profile-date-field {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  /* background: #fff url(../img/profile_ico_edit.svg) right 14px top 50% no-repeat; */
  height: 36px;
  padding: 0 70px 0 10px;
  box-shadow: 0px 3.28763px 16.4381px rgba(0, 0, 0, 0.06);
  width: 100%;
}
.profile-date-field label {
  font-size: 14px;
}
.profile-date-field input {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #cb5050;
  padding: 0;
}
.profile-date-field input::-webkit-input-placeholder {
  color: #cb5050;
  opacity: 1;
}
.profile-date-field input:-moz-placeholder {
  color: #cb5050;
  opacity: 1;
}
.profile-date-field input::-moz-placeholder {
  color: #cb5050;
  opacity: 1;
}
.profile-date-field input:-ms-input-placeholder {
  color: #cb5050;
  opacity: 1;
}
.profile-date-field p {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #cb5050;
}
.profile-date-field .date-picked {
  position: absolute;
  top: 50%;
  right: 34px;
  transform: translateY(-50%);
  background: url(../img/profile_ico_calendar.svg) 0 0 no-repeat;
  width: 30px;
  height: 28px;
  background-size: cover;
  text-align: center;
  padding: 12px 0 0;
  font-weight: bold;
  font-size: 8px;
  line-height: 9px;
  color: #cb5050;
}
.btn-add {
  width: 20px;
  height: 20px;
  background: #dcd9d7 url(../img/profile_plus_01.svg) 50% no-repeat;
  border: none;
  padding: 0;
  border-radius: 100%;
  margin: 0 0 0 10px;
  flex-shrink: 0;
}

.profile-dropdown {
  position: relative;
  width: 122px;
  margin: 0 0 30px;
}
.profile-dropdown.active {
  z-index: 99;
}
.profile-dropdown .dropdown-value {
  display: none;
}
.profile-dropdown .dropdown-current {
  background: #9b847a;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  padding: 8px 0;
  color: #fff;
  text-align: center;
}
.profile-dropdown .dropdown-current:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  background: url(../img/profile_chevron-down.svg) 0 0 no-repeat;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
}
.profile-dropdown .dropdown-options {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
  display: none;
}
.profile-dropdown .dropdown-options .dropdown-item {
  border-bottom: 1px solid #9b847a;
  line-height: 30px;
  text-align: center;
  color: #9b847a;
  font-size: 13px;
  cursor: pointer;
}
.profile-dropdown .dropdown-options .dropdown-item.active {
  display: none;
}
.profile-dropdown .dropdown-options .dropdown-item:last-child {
  border: none;
}

.profile-children-list {
  position: relative;
}
.profile-children-list .add-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -140px;
  text-align: center;
}
.profile-children-list .add-item .btn-add {
  margin: 0;
  width: 25px;
  height: 25px;
}
.profile-children-list .item {
  background: #ffffff;
  box-shadow: 0px 2.89596px 14.4798px rgba(0, 0, 0, 0.06);
  margin: 0 0 20px;
  padding: 12px 18px 14px 16px;
}
.profile-children-list .item .inner {
  max-width: 224px;
  margin: auto;
}
.profile-children-list .item figure {
  background: #ccc0bb url(../img/profile_ico_boy.svg) 50% no-repeat;
  border-radius: 7px;
  margin: 0 0 14px;
  overflow: hidden;
  height: 126px;
  position: relative;
}
.profile-children-list .item figure.female {
  background: #ccc0bb url(../img/profile_ico_girl.svg) 50% no-repeat;
}
.profile-children-list .item figure.male {
  background: #ccc0bb url(../img/profile_ico_boy.svg) 50% no-repeat;
}

.profile-children-list .item {
  position: relative;
}
.profile-children-list .btn_remove_child {
  height: 20px;
  width: 20px;
  background: #dcd9d6;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
.profile-children-list .btn_remove_child:after {
  display: block;
  position: absolute;
  width: 60%;
  height: 2px;
  background: #fff;
  content: '';
  left: 20%;
  top: calc(50% - 1px);
}

.profile-children-list .item figcaption {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
}
.profile-children-list .item .radio-toggler {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 20px 12px;
}
.profile-children-list .item .radio-toggler:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #dcd9d7;
  border-radius: 2px;
}
.profile-children-list .item .radio-toggler input {
  display: none;
}
.profile-children-list .item .radio-toggler label {
  width: 50%;
  margin: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.profile-children-list .item .radio-toggler label.female {
  color: #686563;
}
.profile-children-list .item .radio-toggler label.male {
  color: #9b847a;
}
.profile-children-list .item .radio-toggler label span {
  display: block;
  border-radius: 2px;
  font-size: 15px;
  line-height: 18px;
  padding: 14px 0;
  text-align: center;
}
.profile-children-list .item .radio-toggler label span:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 3px 0 0;
  vertical-align: -0.1em;
}
.profile-children-list .item .radio-toggler label.female span:before {
  background: url(../img/profile_ico_girl_r01.svg) 0 0 no-repeat;
}
.profile-children-list .item .radio-toggler label.male span:before {
  background: url(../img/profile_ico_boy_r01.svg) 0 0 no-repeat;
}
.profile-children-list .item .radio-toggler label.female input:checked + span {
  background: #d3887e;
  box-shadow: 0px 0px 8.80866px rgba(155, 132, 122, 0.6);
  color: #fff;
}
.profile-children-list .item .radio-toggler label.female input:checked + span:before {
  background-image: url(../img/profile_ico_girl_r02.svg);
}
.profile-children-list .item .radio-toggler label.male input:checked + span {
  background: #9b847a;
  box-shadow: 0px 0px 8.80866px rgba(155, 132, 122, 0.6);
  color: #fff;
}
.profile-children-list .item .radio-toggler label.male input:checked + span:before {
  background-image: url(../img/profile_ico_boy_r02.svg);
}
.profile-children-list .item .item-data {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 20px;
}
.profile-children-list .item .item-data input {
  width: 46.5%;
  text-align: center;
  border: 1px solid #dcd9d7;
  border-radius: 2px;
  background: #fff url(../img/profile_ico_edit.svg) right 5px bottom 7px no-repeat;
  font-size: 14px;
  color: #686563;
  line-height: 18px;
  padding: 6px;
}
.profile-submit {
  padding: 4px 0 30px;
}
.profile-submit .double-btn {
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  padding: 17px;
  letter-spacing: 0.03em;
}

.profile-themes {
  background: #cb5050;
  border-radius: 4px;
  padding: 20px 37px 29px;
  text-align: center;
}
.profile-themes h3 {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin: 0 0 15px;
}
.themes-list {
  margin: 0 0 20px;
}
.themes-list .themes-item {
  margin: 0 0 16px;
  color: #686563;
  font-size: 14px;
  line-height: 1.5;
  padding: 4px 10px;
  background: #ffffff;
  border: 0.6px solid #dcd9d7;
  box-sizing: border-box;
  border-radius: 1.2px;
}
.themes-list .add-item .btn-add {
  width: 25px;
  height: 25px;
  background: #fff url(../img/profile_plus_02.svg) 50% no-repeat;
  background-size: 14px 14px;
  margin: 0;
}
.profile-themes p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  margin: 0 auto 10px;
}
.profile-themes .fields textarea {
  background: #ffffff;
  border: 0.6px solid #dcd9d7;
  box-sizing: border-box;
  border-radius: 1.2px;
  color: #686563;
  font-size: 13px;
  line-height: 1.5;
  padding: 5px 10px;
  height: 65px;
  width: 100%;
  resize: none;
  margin: 0 0 15px;
}
.profile-themes .fields .double-btn {
  border-color: #fff;
  background: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 15px 55px;
}

/* other styles  */
.sticky-bar__block .sticky-bar__module-text {
  font-size: 18px;
  line-height: 1;
  color: #232120;
  font-weight: 500;
  margin: 0;
}
.sticky-bar__block .sticky-bar__btn-wrap {
  width: 265px;
  text-align: right;
}

@media (min-width: 768px) {
  .profile-wrapper {
    padding-top: 0;
  }
  .profile-wrapper .profile-container,
  .profile-wrapper .profile-container-courses {
    padding: 16px 0 0;
    width: 96%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .profile-navigation {
    position: static;
  }
  .profile-navigation ul {
    display: block;
  }
  .profile-navigation li {
    width: 100%;
  }
  .profile-navigation li a {
    border: none;
    padding: 0 0 0 17px;
    font-size: 20px;
    line-height: 18px;
  }
  .profile-navigation li.active a {
    padding: 0 0 0 17px;
  }
  .profile-navigation li.active a:after {
    right: 22px;
    width: 10px;
    height: 16px;
  }
  .profile-navigation li:first-child a:before {
    margin: 0 28px 0 0;
  }
  .profile-navigation li:last-child a:before {
    margin: 0 24px 0 0;
  }
  .profile-pregnancy-term h3 {
    font-size: 15px;
    line-height: 1.6;
  }
  .profile-completion {
    padding: 13px 14px 0;
  }
  .profile-completion p {
    font-size: 20px;
    line-height: 22px;
  }
  .profile-completion .percentage {
    margin: 0 0 0 12px;
  }
  .c100.small {
    font-size: 120px;
  }
  .c100:after,
  .c100:hover:after {
    top: 0.05em;
    left: 0.05em;
    width: 0.9em;
    height: 0.9em;
  }
  .c100 > span,
  .c100:hover > span {
    font-size: 39px;
  }
  .profile-column {
    width: 286px;
    flex-shrink: 0;
    padding: 0 0 40px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0;
    height: 100%;
  }
  .profile-image-wrap {
    position: relative;
    margin: 0 0 20px;
  }
  .profile-image-wrap p {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 14px;
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .profile-pregnancy-term {
    padding: 9px 24px 15px;
    margin: 0 0 24px;
  }
  .profile-children {
    margin: 0 0 25px;
    padding: 0 14px;
  }
  .profile-abonement .double-btn {
    font-size: 14px;
    color: #686563;
    text-transform: none;
    font-weight: normal;
    padding: 15px 30px;
  }

  .profile-main {
    width: calc(100% - 300px);
    position: relative;
    padding: 150px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    height: 100%;
  }
  .profile-form-wrap {
    background: none;
    box-shadow: none;
    padding: 0;
  }
  .profile-abonement {
    top: 0;
  }
  .profile-form-wrap .profile-form-contact .field input[type="email"],
  .profile-form-wrap .profile-form-contact .field input[type="tel"] {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .profile-main {
    padding: 29px 38px 33px;
  }
  .profile-abonement {
    top: 79px;
    left: auto;
    right: 37px;
    width: 228px;
    padding: 7px 10px 8px;
  }
  .profile-abonement h3 {
    margin: 0 0 5px;
  }
  .profile-form-wrap .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .profile-form-wrap .row .field {
    width: 173px;
  }
  .profile-form-wrap .row .field + .field {
    margin-left: 24px;
  }
  .profile-form-wrap .field input[type="checkbox"] + label {
    padding-right: 0;
  }
  .profile-date {
    width: 256px;
  }
  .profile-children-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .profile-children-list .item {
    width: 40%;
    margin-right: 4.5%;
  }
  .profile-children-list .add-item {
    position: static;
  }
  .profile-children-list .add-item .btn-add {
    width: 20px;
    height: 20px;
  }
  .profile-submit .double-btn {
    width: auto;
    padding: 15px 24px;
    font-size: 14px;
    line-height: 16px;
  }

  .profile-themes {
    padding: 17px 27px 33px 33px;
  }
  .profile-themes h3 {
    text-align: left;
    margin: 0 0 22px;
  }
  .themes-list {
    max-width: none;
    margin: 0 -3px 44px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  .themes-list .themes-item {
    margin: 0 5px 19px;
    background: #ffffff;
    width: 43%;
    font-size: 14px;
    line-height: 1.2;
    padding: 7px 10px;
    letter-spacing: -0.08em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .themes-list .add-item {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 4px 0 0;
  }
  .profile-themes .fields {
    max-width: none;
  }
  .profile-themes p {
    margin: 0 0 8px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
  }
  .profile-themes .fields {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .profile-themes .fields textarea {
    width: 206px;
    margin: 0 12px 0 0;
    height: 50px;
    font-size: 14px;
    line-height: 150%;
  }
  .profile-themes .fields .double-btn {
    width: auto;
    padding: 11px 40px;
    font-size: 13px;
    line-height: 15px;
  }
  .profile-children-list .item .inner {
    max-width: 185px;
  }
  .profile-children-list .item .radio-toggler,
  .profile-children-list .item .item-data {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .profile-main {
    width: 852px;
    overflow: hidden;
  }
  .profile-form-wrap {
    float: left;
    width: calc(100% - 447px);
    margin: 0;
  }
  .profile-form-wrap .row {
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .profile-form-contact {
    padding: 5px 0 0;
  }
  .profile-form-contact .row {
    margin: 0;
  }
  .profile-form-contact .row .field {
    padding: 0;
  }
  .profile-form-contact .row .field:last-child {
    margin: 0 0 0 24px;
    padding: 0;
    width: 144px;
  }
  .profile-form-contact .row .field .double-btn {
    font-size: 14px;
    height: 46px;
  }
  .profile-children-list {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 776px;
  }
  .profile-children-list .item {
    width: 219px;
    flex-shrink: 0;
  }

  .profile-children-list .item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .profile-children-list .add-item .btn-add {
    margin-left: 16px;
  }
  .profile-children-list .item figcaption {
    font-size: 16px;
    line-height: 22px;
  }

  .profile-form-wrap .field input[type="text"],
  .profile-form-wrap .field input[type="tel"],
  .profile-form-wrap .field input[type="email"],
  .profile-form-wrap .field input[type="password"] {
    height: 46px;
    padding: 12px 18px;
  }

  .profile-themes {
    float: right;
    width: 420px;
    margin: 241px 0 0;
  }
  .themes-list {
    -ms-flex-line-pack: start;
    align-content: start;
    margin-bottom: 0;
    min-height: 98px;
    max-height: 160px;
    overflow: auto;
  }
  .profile-form-wrap .field input[type="checkbox"] + label {
    margin-bottom: 32px;
  }
  .profile-dropdown {
    margin: 0 0 14px;
  }
  .profile-submit {
    padding: 2px 0 0px;
  }
}

.profile-courses-wrapper h3 {
  font-family: "FontsFree", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #686563;
  margin: 0;
  text-align: center;
}
.profile-courses-header {
  display: none;
}
.profile-courses-list .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.profile-courses-table {
  max-width: 320px;
  margin: auto;
}
.profile-courses-table .c-title {
  -ms-flex-order: -1;
  order: -1;
  width: 43%;
  margin: 0 2% 0 0;
}
.profile-courses-table .c-date-wrap {
  width: 55%;
}
.profile-courses-table strong {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 5px;
  color: #232120;
  background: #d0c4bb;
  box-shadow: 0px 3.28763px 16.4381px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 15px 0;
}
.profile-courses-table .c-title strong,
.profile-courses-table .c-discount strong {
  background: #cb5050;
  color: #fff;
}
.profile-courses-table p {
  color: #9b847a;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 14px 0;
  background: #ffffff;
  box-shadow: 0px 3.28763px 16.4381px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.profile-courses-table .c-title p {
  min-height: 148px;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #cb5050;
  line-height: 20px;
  text-transform: uppercase;
}
.profile-courses-table .c-date {
  margin: 0 0 9px;
}
.profile-courses-table .c-id {
  margin: 19px 0 0;
}
.profile-courses-table .c-id,
.profile-courses-table .c-summ,
.profile-courses-table .c-discount {
  flex: 0 0 100%;
}
.profile-courses-table .c-id strong,
.profile-courses-table .c-summ strong,
.profile-courses-table .c-discount strong {
  margin: 0 0 12px;
  position: relative;
  cursor: pointer;
}
.profile-courses-table .c-id strong:before,
.profile-courses-table .c-summ strong:before,
.profile-courses-table .c-discount strong:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  width: 14px;
  height: 14px;
  background: url(../img/profile_chevron-down.svg) no-repeat;
  margin: -7px 0 0;
  transition: all 0.1s;
}
.profile-courses-table .c-id strong.active:before,
.profile-courses-table .c-summ strong.active:before,
.profile-courses-table .c-discount strong.active:before {
  transform: rotate(180deg);
}
.profile-courses-table .c-id p,
.profile-courses-table .c-summ p,
.profile-courses-table .c-discount p {
  padding: 11px 5px;
  margin: 0 0 11px;
  display: none;
}
.profile-courses-table .c-id p,
.profile-courses-table .c-discount p {
  text-transform: uppercase;
}
.profile-courses-table .c-discount p {
  color: #cb5050;
}
.profile-courses-table .owl-nav {
  margin: 11px 27px 0;
  padding: 11px 0 16px;
  border-top: 1px solid rgba(228, 205, 182, 0.6);
  text-align: center;
}
.profile-courses-table .owl-nav button.owl-next,
.profile-courses-table .owl-nav button.owl-prev {
  width: 24px;
  height: 24px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  background: url(../img/profile_slider_arrow.svg) 50% no-repeat;
}
.profile-courses-table .owl-nav button.owl-prev {
  transform: rotate(180deg);
}
.profile-courses-table .owl-nav button.owl-next span,
.profile-courses-table .owl-nav button.owl-prev span {
  display: none;
}
.profile-courses-list {
  padding: 20px 0 0;
  margin: 0 0 25px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}
.profile-courses-list h3 {
  margin: 0 0 19px;
}

.profile-coming-soon__wrap {
  margin: 40px 0 0;
}
.profile-coming-soon__wrap .owl-dots {
  position: absolute;
  left: 0;
  right: 12px;
  bottom: -22px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.profile-coming-soon__wrap .owl-dots .owl-dot {
  width: 33px;
}
.profile-courses-wrapper .owl-carousel .owl-stage {
  padding: 0 !important;
}
.profile-courses-wrapper .coming-soon__item {
  width: 336px;
  height: auto;
  padding: 0 16px 0 0;
}
.profile-courses-wrapper .coming-soon__item img {
  width: auto;
}
.profile-courses-wrapper .coming-soon__item:before {
  display: none;
}
.profile-courses-wrapper .coming-soon__item .inner {
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}
.profile-courses-wrapper .coming-soon__item .inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s;
  z-index: 1;
  border-radius: 3px;
}
.profile-courses-wrapper .coming-soon__item .coming-soon-item__content {
  width: 100%;
}
.profile-courses-wrapper .coming-soon__item .inner:hover:before {
  opacity: 1;
}
.profile-courses-wrapper .coming-soon-item__content h4 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 15px;
}
.profile-courses-wrapper .coming-soon-item__content p {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 15px 20px;
}
.profile-courses-wrapper .coming-soon-item__content .double-btn {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  padding: 16px 25px;
  width: auto;
  border: none;
}
.profile-courses-wrapper .coming-soon-item__content {
  z-index: 3;
  padding: 15px 0 60px;
}

@media (min-width: 480px) {
  .profile-coming-soon__wrap .owl-dots {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .profile-items-slider {
    width: auto;
    left: 0;
    transform: none;
    padding: 0;
  }
  .profile-coming-soon__wrap .owl-dots {
    right: 0;
  }
  .profile-coming-soon__wrap .owl-dots .owl-dot {
    margin: 0 5px;
  }
  .profile-container-courses .profile-main {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .profile-courses-wrapper h3 {
    display: none;
  }
  .profile-courses-wrapper .profile-courses-list h3 {
    display: block;
    text-align: left;
    margin: 0 0 16px;
  }
  .profile-courses-list {
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0 0 150px;
  }
  .profile-courses-header {
    display: block;
  }
  .profile-courses-table {
    max-width: none;
  }
  .profile-courses-list .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -2.5px;
  }
  .profile-courses-table .row {
    margin-bottom: 5px;
  }
  .profile-courses-list .row > div {
    padding: 0 2.5px;
  }
  .profile-courses-table .c-title {
    order: initial;
  }
  .profile-courses-header .c-date-wrap,
  .profile-courses-table .c-date-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex: 0 0 31.5%;
  }
  .profile-courses-header .c-date,
  .profile-courses-table .c-date {
    flex: 0 0 53.8%;
    padding: 0 2.5px 0 0;
    margin: 0;
  }
  .profile-courses-header .c-expire,
  .profile-courses-table .c-expire {
    flex: 0 0 46.2%;
    padding: 0 0 0 2.5px;
  }
  .profile-courses-header .c-id,
  .profile-courses-table .c-id {
    flex: 0 0 16.2%;
    margin: 0;
  }
  .profile-courses-header .c-title,
  .profile-courses-table .c-title {
    flex: 0 0 26%;
    margin: 0;
  }
  .profile-courses-header .c-summ,
  .profile-courses-table .c-summ {
    flex: 0 0 14.7%;
  }
  .profile-courses-header .c-discount,
  .profile-courses-table .c-discount {
    flex: 0 0 11.6%;
  }
  .profile-courses-table strong {
    display: none !important;
  }
  .profile-courses-table p {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    line-height: 16px;
    padding: 15px 5px;
    min-height: 0 !important;
    margin: 0 !important;
    font-size: 12px;
  }
  .profile-courses-table .c-id p {
    font-size: 11px;
    text-transform: none;
    word-break: break-all;
  }
  .profile-courses-table .c-title p {
    font-size: 10px;
    text-transform: uppercase;
    color: #9b847a;
  }
  .profile-courses-header {
    margin-bottom: 19px;
  }
  .profile-courses-header strong {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    font-size: 10px;
    line-height: 12px;
    padding: 6px 5px 7px;
    color: #232120;
    text-transform: uppercase;
    text-align: center;
    background: #d0c4bb;
    box-shadow: 0px 3.28763px 16.4381px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
  }
  .profile-courses-header .c-discount strong {
    color: #fff;
    background: #cb5050;
    font-size: 8px;
    line-height: 105.3%;
    padding: 3px;
  }
}

@media (min-width: 1200px) {
  .profile-courses-header .c-discount strong {
    font-size: 9px;
  }
  .profile-courses-table p,
  .profile-courses-table .c-id p,
  .profile-courses-table .c-title p,
  .profile-courses-table .c-discount p {
    font-size: 14px;
  }
  .profile-courses-header strong,
  .profile-courses-header .c-discount strong {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 1300px) {
  .profile-coming-soon__wrap {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -14px;
  }
  .profile-courses-wrapper .coming-soon__item {
    padding: 0 14px;
    margin: 0 0 17px;
    flex: 0 0 50%;
  }
  .profile-courses-wrapper .coming-soon-item__content h4 {
    font-size: 16px;
    line-height: 16px;
  }
  .profile-courses-wrapper .coming-soon-item__content h4,
  .profile-courses-wrapper .coming-soon-item__content p {
    max-width: none;
    width: auto;
  }
  .profile-courses-wrapper .coming-soon-item__content p {
    font-size: 12px;
    line-height: 14px;
    margin: 10px 20px 0;
  }
  .profile-courses-wrapper .coming-soon-item__content .double-btn {
    padding: 13px 25px;
    font-size: 14px;
    line-height: 16px;
  }
  .profile-container-courses .profile-main {
    padding: 19px 26px 20px;
  }
  .profile-courses-list {
    margin: 0 0 80px;
  }
  .profile-courses-wrapper .coming-soon__item img {
    height: 230px;
    width: auto;
  }
}

@media screen and (max-width:768px) {
  .profile-image-wrap {position: relative;}
  .profile-image-wrap p {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 14px;
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .profile-themes .fields .double-btn {padding: 15px 0;}
  .profile-main {
    display: flex;
    flex-direction: column;
  }
  .profile-main .profile-themes {order:1;}
}

.drop,.child-drop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.drop input,.child-drop input {
  display: none;
} 

.child-drop figure {
  height: 100%;
}
.profile-children-list .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dz-message {
  text-align: center;
  font-size: 12px;
}
.avatar_wrap,
.avatar_wrap figure,
.avatar_wrap img,
.dz-image-preview,
.dz-image-preview figure,
.dz-image-preview img {
  width: 100%;
  height: 100%;
}
.avatar_wrap figure {
  position: absolute;
}
.avatar_wrap img,.dz-image-preview img {object-fit: cover;}
/* .dz-preview {
  display: none;
} */
